body {
    background-color: rgb(185, 185, 185);
    font-family: 'Roboto', sans-serif;
}

button {
    height: 40px;
    font-size: large;
    border-radius: 20px;
    border: none;
}

.start {
    width: fit-content;
    padding: 30px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
}

.start--image {
    width: 60%;
}

.start--button {
    color: rgb(0, 202, 0);
    background-color: rgb(0, 153, 0);
}

.start--button:hover {
    background-color: rgb(0, 138, 0);
    color: rgb(0, 160, 0);
}

.game {
    width: fit-content;
    padding: 30px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
}

.game--flag {
    border-radius: 20px;
    margin-bottom: 20px;
}

.game--controls {
    width: 70%;
}

.game--input {
    width: 80%;
    height: 40px;
    padding: 12px 20px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: large;
    border: none;
    background-color: rgb(197, 197, 197);
    text-align: center;
    margin-right: 10px;
}

.game--input:focus::placeholder {
    color: transparent;
}

.game--input:hover {
    background-color: rgb(206, 206, 206);
}

.game--input:focus {
    outline: none;
    background-color: rgb(206, 206, 206);
}

.game--button {
    width: calc(20% - 10px);
    color: rgb(0, 202, 0);
    background-color: rgb(0, 153, 0);
}

.game--button:hover {
    background-color: rgb(0, 138, 0);
    color: rgb(0, 160, 0);
}

.button-icon {
    vertical-align: middle;
}

.game--stats {
    height: 40px;
    display: flex;
    margin-top: 10px;
}

.game--stats p {
    margin: 0;
    padding: 10px;
    vertical-align: center;
}

.game--score {
    box-sizing: border-box;
    border-radius: 20px;
    font-size: large;
    border: none;
    background-color: rgb(197, 197, 197);
    margin: 0 5px;
}

.game--score-icon {
    position: relative;
    top: 2px;
}

.game--timer {
    box-sizing: border-box;
    border-radius: 20px;
    font-size: large;
    border: none;
    background-color: rgb(197, 197, 197);
    margin: 0 5px;
}

.game--timer-icon {
    position: relative;
    top: 2px;
}