body {
    background-color: rgb(185, 185, 185);
    font-family: 'Roboto', sans-serif;
}

button {
    height: 40px;
    font-size: large;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.start-screen {
    width: 40rem;
    padding: 30px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
}

.start-screen--image {
    width: 60%;
}

.start-screen--button {
    color: rgb(216, 216, 216);
    background-color: #33b249;
    padding: 10px;
    margin-left: 5px;
}

.start-screen--button:hover {
    background-color: #2b963d;
}

.start-screen--dropdown {
    height: 40px;
    font-size: large;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    margin-right: 5px;
    text-align-last: center;
    -webkit-appearance: none;
    appearance: none;
}

.start-screen--dropdown:focus {
    outline: none;
    background-color: rgb(197, 197, 197);
}

.start-screen--dropdown:hover {
    background-color: rgb(197, 197, 197);
}

.highscores {
    width: 40rem;
    padding: 10px 30px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
    font-size: large;
}

.highscores--title {
    margin: 10px 0;
}

.highscores--list {
    columns: 2;
    margin-top: 0;
}

.highscores--list li {
    margin: 0 15px;
}

.highscores--list-icon {
    position: relative;
    top: 2px;
    margin: 0 5px;
}

.game {
    width: fit-content;
    padding: 30px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
}

.game--flag {
    border-radius: 20px;
    margin-bottom: 20px;
}

.game--controls {
    width: 70%;
}

.game--input {
    width: 80%;
    height: 40px;
    padding: 12px 20px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: large;
    border: none;
    background-color: rgb(185, 185, 185);
    text-align: center;
    margin-right: 10px;
}

.game--input:focus::placeholder {
    color: transparent;
}

.game--input:hover {
    background-color: rgb(197, 197, 197);
}

.game--input:focus {
    outline: none;
    background-color: rgb(197, 197, 197);
}

.game--button {
    width: calc(20% - 10px);
    color: rgb(216, 216, 216);
    background-color: #33b249;
}

.game--button:hover {
    background-color: #2b963d;
}

.button-icon {
    vertical-align: middle;
}

.game--stats {
    height: 40px;
    display: flex;
    margin-top: 10px;
}

.game--stats p {
    margin: 0;
    padding: 10px;
    padding-top: 9px;
    vertical-align: center;
}

.game--score {
    box-sizing: border-box;
    border-radius: 20px;
    font-size: large;
    border: none;
    background-color: rgb(197, 197, 197);
    margin: 0 5px;
}

.game--score-icon {
    position: relative;
    top: 2px;
}

.game--timer {
    box-sizing: border-box;
    border-radius: 20px;
    font-size: large;
    border: none;
    background-color: rgb(197, 197, 197);
    margin: 0 5px;
}

.game--timer-icon {
    position: relative;
    top: 2px;
}